html {
  background-color: #3d3d3d; }

body {
  padding-bottom: 50px; }

header {
  background-color: #3c4652; }
  header h1 {
    margin-top: 25px;
    font-size: 3rem;
    display: inline-flex; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 20%;
  padding: 5px;
  margin: 20px;
  margin-top: 0px;
  background-color: lightblue;
  border: 5px black solid; }
  nav a {
    font-size: 1.5rem;
    padding: 5px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: lightblue;
    border: 1px black solid; }
    nav a a:hover {
      background-color: #458ca9; }

article {
  width: 90%;
  border: 3px black solid;
  background-color: lightgray;
  margin: 15px;
  padding: 5px; }
  article section {
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    background-color: white; }

.logo {
  display: inline-block;
  height: 60px;
  width: auto;
  margin-left: 10px;
  margin-right: 25px; }
